.bc2 {
	background-image: url(image/background1.jpg);
    background-repeat: no-repeat;
}

.ind{
    background-image: url(image/tui-Recovered.png);
    background-repeat: no-repeat;
}

#photo{
    float: left;
    margin-left: 20px;
    margin-top: -25%;
    padding: 15px;
}

important{
    background-color: #aaaaaa;
    margin: auto;
    margin-top: 50px;
    font-family: arial bold;
    padding: 10px;
    width: 45%;
    height: 35%;
    border-radius: 20px;
}