.bc2 {
	background-image: url(image/background1.jpg);
    background-repeat: no-repeat;
}

.ind{
    background-image: url(image/tui-Recovered.png);
    background-repeat: no-repeat;
}

#photo{
    float: left;
    margin-left: 20px;
    margin-top: -25%;
    padding: 15px;
}

important{
    background-color: #aaaaaa;
    margin: auto;
    margin-top: 50px;
    font-family: arial bold;
    padding: 10px;
    width: 45%;
    height: 35%;
    border-radius: 20px;
}

#logo{
    width: 45%;
    height: 10%;
    text-align: center;
    background-color: oldlace;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 370px;
    padding: 3px;   
}


#table{
    margin:auto;
    margin-top: 50px;
    margin-left: 120px;
    background-color: #aaaaaa;
    font-family: arial bold;
    padding: 30px;
    width: 75%;
    height: 57%;
    border-radius: 20px;    
}

#main{
    background-color: #aaaaaa;
    color: black;
    margin:auto;
    margin-top: 50px;
    margin-left: 120px;
    padding: 40px;
    width: 75%;
    height: 50%;
    font-family: arial bold;
    font-size: 120%;
    text-align: justify;
    border-radius: 20px;
 }
    
#line{
    height: 1px;
    width: 600px;
    background-color:white;
    margin-top: 1%;
}

#graph{
    float: center;
    margin-left: 100px;
    margin-top: 5px;  
}

.cntct{
    color: black;
    font-size: 120%;
    text-align:justify; 
    font-size: 120%;
    margin-left: 10px;
    padding: 20px;
    margin-top: 3%;
}