.bc2 {
	background-image: url(image/background1.jpg);
    background-repeat: no-repeat;
}

.ind{
    background-image: url(image/tui-Recovered.png);
    background-repeat: no-repeat;
}

#photo{
    float: left;
    margin-left: 20px;
    margin-top: -25%;
    padding: 15px;
}

important{
    background-color: #aaaaaa;
    margin: auto;
    margin-top: 50px;
    font-family: arial bold;
    padding: 10px;
    width: 45%;
    height: 35%;
    border-radius: 20px;
}

#logo{
    width: 45%;
    height: 10%;
    text-align: center;
    background-color: oldlace;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 370px;
    padding: 3px;   
}


#table{
    margin:auto;
    margin-top: 50px;
    margin-left: 120px;
    background-color: #aaaaaa;
    font-family: arial bold;
    padding: 30px;
    width: 75%;
    height: 57%;
    border-radius: 20px;    
}

#main{
    background-color: #aaaaaa;
    color: black;
    margin:auto;
    margin-top: 50px;
    margin-left: 120px;
    padding: 40px;
    width: 75%;
    height: 50%;
    font-family: arial bold;
    font-size: 120%;
    text-align: justify;
    border-radius: 20px;
 }
    
#line{
    height: 1px;
    width: 600px;
    background-color:white;
    margin-top: 1%;
}

#graph{
    float: center;
    margin-left: 100px;
    margin-top: 5px;  
}

.cntct{
    color: black;
    font-size: 120%;
    text-align:justify; 
    font-size: 120%;
    margin-left: 10px;
    padding: 20px;
    margin-top: 3%;
}

.quote{
    margin-top: -10%;
    margin-left: 40%;
    font-family: georgia;
    font-size: 120%;
    font-style: italic;
    color: cadetblue;
    display: inline;
}


.left{
    float: left;
    padding: 10px;
    margin-top: -2%;
    margin-left: -2%;        
}

.head{
    color: darkseagreen;
    font-family: arial;
    font-size: 250%;
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
}

.tbl{
    text-align: justify; 
    color: black;
    font-size: 120%;
    margin-left: 10px;
    padding: 10px;
}

h1{
    font-family: arial;
    text-align: center;
    color: white;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 200%;
}

h3 {
    font-family: arial;
    color: white;
    font-size: 2cm;
    margin-top: -1%;
    margin-left: 10%;
    text-align: center;
}

h4{
    font-family: Arial bold;
    text-align: center;
    font-size: 150%;
    color: white;  
    margin-top: -4%;
    margin-left: 10%;
}

ul{
    width: 1310px;
    padding: 15px;
    margin: auto;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: white;
    text-align: center;
}

li{
    display: inline-block;
    margin: 0px 3px;
}

a{
    color: black;
    font-size: 120%;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
}

a:hover, a.on {
    color: blue;
}

.prof{
    color: lightblue;
    font-family: arial;
    font-size: 250%;
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
}

.myskill{
    color: lightcoral;
    font-family: arial;
    font-size: 250%;
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
}

.contact{
    color: palevioletred;
    font-family: arial;
    font-size: 250%;
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
}

blockquote{
    float: right;
    width: 200px;
    color: darkgreen;
    font-size: 110%;
    font-family: georgia;
    font-style: italic;
    margin-top: 7%;
    margin-right: 15%;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.motto1{
    float: right;
    width: 200px;
    color: darkgreen;
    font-size: 110%;
    font-family: georgia;
    font-style: italic;
    margin-top: 6%;
    margin-right: 25%;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.motto2{
    float: right;
    width: 200px;
    color: darkslateblue;
    font-size: 110%;
    font-family: georgia;
    font-style: italic;
    margin-top: 1%;
    margin-left: 25%;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.motto3{
    float: right;
    width: 200px;
    color: darkcyan;
    font-size: 110%;
    font-family: georgia;
    font-style: italic;
    margin-top: 1%;
    margin-right: 25%;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

{box-sizing:border-box}

.container {
    width: 90%;
    background-color: #eeeeee;
}

.C{
    color: white;
}
.P{
    color: white;
}
.J{
    color: white;
}
.H{
    color: white;
}
.W{
    color: white;
}
